
/*universal selector*/

* {
	font-family: 'Charmonman', cursive;
	font-size: 18px;
}

body{
	background-image: url(image/imgbg.jpg);
	background-repeat: no-repeat;
}

h1 {
	margin: 0;
}

.container {
	width: 700px;
	margin: 0 auto;
	background-color: #f7f3e3;
	color: $404040;
}

header {
	background-color: #2b2118;
	height: 70px;
	color: #fff;
	text-align: center;
	line-height: 70px;
	font-size: 10px;
}

footer {
	background-color: #af9164;

	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #fff;
}

.dashboard-thumbnail {
	display: inline-block;
	width: 100%;
	height: 100px;
}

.dashboard-circles {
	height: 70px;
	width: 70px;
	background-color: red;
	border-radius: 50%;
	text-align: center;
	line-height: 70px;
	color: #fff;
	margin-right: 30px;
	float: left;
}

#post-circle {
	background-color: #4caF50;
	margin-right: 60px;
	float: left;
}

#image-circle {
	background-color: #09c;
	margin-right: 60px;
	float: right;
	margin-top: 5px;
}

#post-title {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

#post-content{
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

.btn {
	border: none;
	padding: 15px 30px;
	font-size: 14px;
	border-radius: 5px;
	color: #fff;
}

#btn-browse:hover {
	background-color: white;
	color:blue;
}

#btn-upload:hover {
	background-color: white;
	color: orange;
}

#btn-publish:hover {
	background-color: blue;
	color: white;
}

.btn-blue {
	background-color: #09c;
}

.btn-green {
	background-color: #dd6e42;
}

#btn-browse {
	margin-left: 20px;
}

.hide-overflow{
	overflow: hidden;
}

.img-set {
	height: 70px;
	width: 100px;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
	margin: 0 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-set-holder {
	text-align: center;
}


.dashboard-text {
	margin: 0;
	font-size: 24px;
	width: 100%;
	text-align: center;
}

main {
	padding: 20px;
	
}

#btn-publish,
#btn-upload,
#btn-browse {
	float: right;
}

#post-circle {
    position: relative;
	animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:100px; top:0px;}
    50%  {background-color:blue; left:100px; top:100px;}
    75%  {background-color:green; left:0px; top:100px;}
    100% {background-color:red; left:0px; top:0px;}
}

#image-circle {
    position: relative;
	animation-name: examples;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes examples {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; right:100px; bottom:0px;}
    50%  {background-color:blue; right:100px; bottom:100px;}
    75%  {background-color:green; right:0px; bottom:100px;}
    100% {background-color:red; right:0px; bottom:0px;}
}